<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<!-- <div id="example1_wrapper"
		class="dataTables_wrapper form-inline dt-bootstrap">
		<div class="row">
			<div class="col-sm-6">
				<div class="dataTables_length" id="example1_length">
					<label>Show <select name="example1_length"
						aria-controls="example1" class="form-control input-sm"><option
								value="10">10</option>
							<option value="25">25</option>
							<option value="50">50</option>
							<option value="100">100</option></select> entries
					</label>
				</div>
			</div>
			<div class="col-sm-6">
				<div id="example1_filter" class="dataTables_filter">
					<label>Search:<input type="search"
						class="form-control input-sm" placeholder=""
						aria-controls="example1"></label>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<table id="example1"
					class="table table-bordered table-striped dataTable" role="grid"
					aria-describedby="example1_info">
					<thead>
						<tr role="row">
							<th class="sorting" tabindex="0" aria-controls="example1"
								rowspan="1" colspan="1"
								aria-label="Rendering engine: activate to sort column ascending"
								style="width: 217.8px;">Rendering engine</th>
							<th class="sorting_desc" tabindex="0" aria-controls="example1"
								rowspan="1" colspan="1"
								aria-label="Browser: activate to sort column ascending"
								aria-sort="descending" style="width: 266.6px;">Browser</th>
							<th class="sorting" tabindex="0" aria-controls="example1"
								rowspan="1" colspan="1"
								aria-label="Platform(s): activate to sort column ascending"
								style="width: 237px;">Platform(s)</th>
							<th class="sorting" tabindex="0" aria-controls="example1"
								rowspan="1" colspan="1"
								aria-label="Engine version: activate to sort column ascending"
								style="width: 187.4px;">Engine version</th>
							<th class="sorting" tabindex="0" aria-controls="example1"
								rowspan="1" colspan="1"
								aria-label="CSS grade: activate to sort column ascending"
								style="width: 134.8px;">CSS grade</th>
						</tr>
					</thead>

					<tfoot>
						<tr>
							<th rowspan="1" colspan="1">Rendering engine</th>
							<th rowspan="1" colspan="1">Browser</th>
							<th rowspan="1" colspan="1">Platform(s)</th>
							<th rowspan="1" colspan="1">Engine version</th>
							<th rowspan="1" colspan="1">CSS grade</th>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-5">
				<div class="dataTables_info" id="example1_info" role="status"
					aria-live="polite">Showing 1 to 10 of 57 entries</div>
			</div>
			<div class="col-sm-7">
				<div class="dataTables_paginate paging_simple_numbers"
					id="example1_paginate">
					<ul class="pagination">
						<li class="paginate_button previous disabled"
							id="example1_previous"><a href="#" aria-controls="example1"
							data-dt-idx="0" tabindex="0">Previous</a></li>
						<li class="paginate_button active"><a href="#"
							aria-controls="example1" data-dt-idx="1" tabindex="0">1</a></li>
						<li class="paginate_button "><a href="#"
							aria-controls="example1" data-dt-idx="2" tabindex="0">2</a></li>
						<li class="paginate_button "><a href="#"
							aria-controls="example1" data-dt-idx="3" tabindex="0">3</a></li>
						<li class="paginate_button "><a href="#"
							aria-controls="example1" data-dt-idx="4" tabindex="0">4</a></li>
						<li class="paginate_button "><a href="#"
							aria-controls="example1" data-dt-idx="5" tabindex="0">5</a></li>
						<li class="paginate_button "><a href="#"
							aria-controls="example1" data-dt-idx="6" tabindex="0">6</a></li>
						<li class="paginate_button next" id="example1_next"><a
							href="#" aria-controls="example1" data-dt-idx="7" tabindex="0">Next</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div> -->

	<div class="card">
		<div class="card-body">
			<h1>Data Dinar</h1>

			<div>
				<button type="button" class="btn btn-primary btn-fw" id="btn-tambah">Tambah
					Dinar</button>
			</div>
			<div id="example1_wrapper"
		class="dataTables_wrapper form-inline dt-bootstrap">
		<div class="row col-sm-12">
			<div class="col-sm-6">
				<div class="dataTables_length" id="example1_length">
					<label>Show <select name="example1_length"
						aria-controls="example1" class="form-control input-sm"><option
								value="10">10</option>
							<option value="25">25</option>
							<option value="50">50</option>
							<option value="100">100</option></select> entries
					</label>
				</div>
			</div>
			<div class="col-sm-6">
				<div id="example1_filter" class="dataTables_filter">
					<label>Search:<input type="search"
						class="form-control input-sm" placeholder=""
						aria-controls="example1" id="search"></label>
				</div>
			</div>
		</div>
			<table class="table table-hover dataTable">
				<tr class="table-success">

					<th class="sorting" style="text-align: center">Nomor Nota</th>
					<th class="sorting" style="text-align: center">Tanggal Nota</th>
					<th class="sorting" style="text-align: center">Vendor</th>
					<th class="sorting" style="text-align: center">Quantity</th>
					<th class="sorting" style="text-align: center">Action</th>
					<!-- <td>Detail</td>
					<td>Ubah</td>
					<td>Hapus</td> -->
				</tr>
				<tr>

					<!-- <td>
						<form th:action=@{/dinar/search/nama} method=post>
							<div class="input-group">
								<input type=text class="form-control"
									placeholder="Masukkan Nama dinar" aria-label="Username"
									aria-describedby="colored-addon3" name=namadinar><br>
								<div class="input-group-append bg-primary border-primary">
									<button class="input-group-text bg-transparent" type=submit>Cari
									</button>
								</div>
							</div>
						</form>
					</td> -->

				</tr>
				<tbody id="list-dinar">

					<!-- ambil file dari list.html -->

				</tbody>
			</table>'
			<div class="row">
			<div class="col-sm-5">
				<div class="dataTables_info" id="example1_info" role="status"
					aria-live="polite">Showing 1 to 10 of 57 entries</div>
			</div>
			<div class="col-sm-7">
				<div class="dataTables_paginate paging_simple_numbers"
					id="example1_paginate">
					<ul class="pagination">
						<li class="paginate_button previous disabled"
							id="example1_previous"><a href="#" aria-controls="example1"
							data-dt-idx="0" tabindex="0">Previous</a></li>
						<li class="paginate_button active"><a href="#"
							aria-controls="example1" data-dt-idx="1" tabindex="0">1</a></li>
						<li class="paginate_button "><a href="#"
							aria-controls="example1" data-dt-idx="2" tabindex="0">2</a></li>
						<li class="paginate_button "><a href="#"
							aria-controls="example1" data-dt-idx="3" tabindex="0">3</a></li>
						<li class="paginate_button "><a href="#"
							aria-controls="example1" data-dt-idx="4" tabindex="0">4</a></li>
						<li class="paginate_button "><a href="#"
							aria-controls="example1" data-dt-idx="5" tabindex="0">5</a></li>
						<li class="paginate_button "><a href="#"
							aria-controls="example1" data-dt-idx="6" tabindex="0">6</a></li>
						<li class="paginate_button next" id="example1_next"><a
							href="#" aria-controls="example1" data-dt-idx="7" tabindex="0">Next</a></li>
					</ul>
				</div>
			</div>
		</div>
			<div id="modal-dinar" class="modal fade">
				<div class="modal-dialog">
					<div class="modal-content">
						<!-- <div class="modal-header">							
							<h4 class="modal-title">Tambah Dinar</h4>
						</div> -->
						<div class="modal-body">
							<p>Some text in the modal.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</body>
<script type="text/javascript">
//function dalaam script dipanggil saat html dipanggil
	refreshDatadinar();

	//function ajax untuk refresh data (panggil list.html)
	function refreshDatadinar() {
		$.ajax({
			url : '/dinar/data',
			type : 'get',
			dataType : 'html',		
			success : function(result) {				
				$('#list-dinar').html(result);
			}
		});
	}	
	//function ajax untuk refresh data (panggil list.html)

	//ajax untuk pop-up tambah
	$('#btn-tambah').click(function() {
		var id = $(this).val();
		$.ajax({
			url : '/dinar/tambah',
			type : 'get',
			dataType : 'html',
			data : {id,id},
			success : function(result) {
				$('#modal-dinar').modal('show');
				$('#modal-dinar').find('.modal-body').html(result);
			}
		});
	});
	//ajax untuk pop-up tambah
	
	//ajax untuk create
	$('#modal-dinar').on('submit','#form-dinar-tambah',function() {		
		$.ajax({
			url : '/dinar/create',
			type : 'post',			
			data : $(this).serialize(),
			success : function(result) {
				alert('data dinar telah ditambah');
				$('#modal-dinar').modal('hide');
				refreshDatadinar();
			}
		});
		return false;
	});
	//ajax untuk create
	
	//ajax untuk pop-up lihat
	$('#list-dinar').on('click','#btn-lihat',function() {
		var id = $(this).val();
		$.ajax({
			url : '/dinar/detail',
			type : 'get',
			dataType : 'html',
			data : {id,id},
			success : function(result) {
				$('#modal-dinar').modal('show');
				$('#modal-dinar').find('.modal-body').html(result);
			}
		});
	});
	//ajax untuk pop-up lihat
	
	//ajax untuk pop-up ubah
	$('#list-dinar').on('click','#btn-ubah',function() {
		var id = $(this).val();
		$.ajax({
			url : '/dinar/ubah',
			type : 'get',
			dataType : 'html',
			data : {id,id},
			success : function(result) {
				$('#modal-dinar').modal('show');
				$('#modal-dinar').find('.modal-body').html(result);
			}
		});
	});
	//ajax untuk pop-up ubah
	
	//ajax untuk edit
	$('#modal-dinar').on('submit','#form-dinar-ubah',function() {		
		$.ajax({
			url : '/dinar/update',
			type : 'post',			
			data : $(this).serialize(),
			success : function(result) {
				alert('data dinar telah diubah');				
				$('#modal-dinar').modal('hide');
				refreshDatadinar();
			}
		});
		return false;
	});
	//ajax untuk edit
	
	//ajax untuk pop-up hapus
	$('#list-dinar').on('click','#btn-hapus',function() {	
		if (confirm("Anda yakin?"))	{
			var id = $(this).val();
			$.ajax({
				url : '/dinar/hapus',
				type : 'post',
				dataType: 'html',
				data : {id,id},			
				success : function(result) {					
					refreshDatadinar();
				}
			});			
		}
		else {
			return false;
			}		
		});		
		
	//ajax untuk pop-up hapus	
</script>

<script>
$(document).ready(function(){
  $("#search").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#list-dinar tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

</html>