<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Registrasi</title>
</head>
<body>
	<div class="card">
		<div class="card-body">
			<table style="width: 55%">

				<tr>
					<td><h2>Registrasi</h2></td>
				</tr>
				<tr>
					<td>User ID</td>
					<td><input class="form-control" type=text name=userId></td>
				</tr>
				<tr>
					<td>User Name</td>
					<td><input class="form-control" type=text name=userName></td>
				</tr>
				<tr>
					<td>Role</td>
					<td><select class="form-control"
						name="role">
						<option selected>---Pilih---</option>
						<option th:each="roleModel : ${roleModelList}"
							th:value="${roleModel.id}" th:utext="${roleModel.roleName}"></option>
					</select></td>
				</tr>
				<tr>
					<td>Password</td>
					<td><input class="form-control" type=password name=password></td>
				</tr>
				<tr>
					<td>Ulangi Password</td>
					<td><input class="form-control" type=password></td>
				</tr>

				<tr>
					<td></td>
					<td><input class="btn btn-primary" type=button id=btn-tambah-user value=Simpan></td>
				</tr>
			</table>
		</div>
	</div>
</body>

<script type="text/javascript">

	
$('#btn-tambah-user').click(function() {		
	$.ajax({
		url : '/register/user/tambah',
		type : 'post',			
		data : $(this).serialize(),
		success : function(result) {
			alert('data user berhasil ditambah');
		}
	});
	return false;
});


</script>

</html>
