
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Penerimaan UI - Buat Account Baru</title>

<meta name="description" content="Penerimaan mahasiswa baru Universitas Indonesia (SIMAK-UI)" />
<meta name="keywords" content="penerimaan, pendaftaran, mahasiswa baru, universitas indonesia, ui, simak ui" />
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<meta http-equiv="X-UA-Compatible" content="IE=9" />

<meta property="og:title" content="Penerimaan Mahasiswa Baru Universitas Indonesia (SIMAK UI)" />
<meta property="og:type" content="university" />
<meta property="og:url" content="http://penerimaan.ui.ac.id/" />
<meta property="og:image" content="http://penerimaan.ui.ac.id/img/opengraph-image.png" />
<meta property="og:site_name" content="SIMAK-UI" />
<meta property="fb:admins" content="528158832,521206934" />

<link rel="stylesheet" type="text/css" href="/themes/user4/css/style.css?1524035383" media="all" />
<link rel="stylesheet" type="text/css" href="/themes/user4/css/print.css" media="print" />
<link rel="stylesheet" href="/js/tingle/tingle.min.css" />

<script type="text/javascript" src="/js/jquery-1.12.4.min.js"></script>

<!--[if lt IE 8]>
<link rel="stylesheet" href="/themes/user4/css/ie.css" type="text/css" media="screen, projection">
<![endif]-->

<!--[if lt IE 9]>
<script src="/js/ie7-js/IE9.js"></script>
<![endif]-->

<script type="text/javascript" src="https://penerimaan.ui.ac.id/js/tw-sack.js"></script>
<script type="text/javascript" src="https://penerimaan.ui.ac.id/js/select.js"></script>
</head>
<body class="register">
<div id="wrapper">
		<div class="sitetabs">
		<ol>
			<li><a href="http://simak.ui.ac.id">Portal Informasi SIMAK UI</a></li>
			<li class="current"><a href="http://penerimaan.ui.ac.id">Pendaftaran SIMAK UI</a></li>
			<li><a href="http://beasiswa.ui.ac.id">Informasi Beasiswa</a></li>
			<li><a href="https://admission.ui.ac.id/?1557200714">International Students Admission</a></li>
		</ol>
		<div style="float:right;color:#CCC;padding:.5em 1em;font-size:90%">Selasa, 07 Mei 2019 10.45 WIB (WIB)</div>
		<div style="clear:both"><!-- --></div>
	</div>
		<div class="header" style="clear:both">
		<div class="container">
			<div class="span-13">
				<a id="logo" href="https://penerimaan.ui.ac.id/" name="top">UNIVERSITAS INDONESIA<em>veritas, probitas, iustitia</em></a>
			</div>
			<div class="span-11 last loginbox">
				
							</div>
		</div>		
	</div>

	
	
	<div class="content">
				<div class="container">
						<div class="span-24 last">
				<div class="middlecol">
					<div class="soc">
						<a class="share-g" href="https://plus.google.com/share?url=https%3A%2F%2Fpenerimaan.ui.ac.id%2Fregister" target="_blank" title="Share on Google+"> </a> <a class="share-t" href="http://twitter.com/share?url=https%3A%2F%2Fpenerimaan.ui.ac.id%2Fregister&via=simak_ui&text=Buat+Account+Baru+%28SIMAK+UI%29" target="_blank" title="Share on Twitter"> </a> <a class="share-f" href="http://www.facebook.com/sharer.php?u=https%3A%2F%2Fpenerimaan.ui.ac.id%2Fregister&ref=fbshare&t=Buat+Account+Baru+%28SIMAK+UI%29" target="_blank" title="Share on Facebook"> </a>					</div>
					<h1 class="coltitle top">Buat Account Baru</h1>					
<p>For international applicants, please contact our <a href="https://penerimaan.ui.ac.id/page/foreign">International Office</a> regarding
application procedure. This registration form is meant for Indonesian citizen only.</p>

<p>Harap menggunakan <em>account</em> lama Anda jika Anda telah membuat pendaftaran sebelumnya.</p>


<div class="fancybox">
	
<form class="fancy marginal" action="https://penerimaan.ui.ac.id/register/save" method="post" name="mf" id="mf">
	<div style="display: none;">
	</div>

	<fieldset id="h1">
		<legend>Login</legend>
		<ol>
			<li><label for="qfe_username" class="element">Username<span class="required"> *</span>&nbsp;</label><div class="element"><input title="Username yang Anda inginkan (hanya dapat terdiri dari huruf, angka, dan _). Username tidak boleh mengandung spasi." size="20" name="username" type="text" /><div class="hint">Username yang Anda inginkan (hanya dapat terdiri dari huruf, angka, dan _). Username tidak boleh mengandung spasi.</div></div></li>
			<li><label for="qfe_password" class="element">Password<span class="required"> *</span>&nbsp;</label><div class="element"><input title="Masukkan password. Password minimal terdiri dari 6 karakter dan case sensitive (A beda dengan a)." size="20" name="password" type="password" /><div class="hint">Masukkan password. Password minimal terdiri dari 6 karakter dan case sensitive (A beda dengan a).</div></div></li>
			<li><label for="qfe_pwcheck" class="element">Ulangi password<span class="required"> *</span>&nbsp;</label><div class="element"><input size="20" name="pwcheck" type="password" /></div></li>
		</ol>
	</fieldset>
	<fieldset id="h2">
		<legend>Identitas</legend>
		<ol>
			<li><label for="qfe_name_id" class="element">Nama sesuai identitas<span class="required"> *</span>&nbsp;</label><div class="element"><input style="width:20em" title="Nama sesuai yang tertulis di kartu identitas, tanpa gelar akademis/sertifikasi.&lt;br /&gt;Nama diawali huruf besar di awal dan setelah spasi, contoh benar: Abc Def, contoh salah: abc def, ABC DEF." name="name_id" type="text" /><div class="hint">Nama sesuai yang tertulis di kartu identitas, tanpa gelar akademis/sertifikasi.<br />Nama diawali huruf besar di awal dan setelah spasi, contoh benar: Abc Def, contoh salah: abc def, ABC DEF.</div></div></li>
			<li><label for="qfe_name_grad" class="element">Nama sesuai ijazah<span class="required"> *</span>&nbsp;</label><div class="element"><input style="width:20em" title="Nama sesuai yang tertulis di ijazah, tanpa gelar akademis/sertifikasi.&lt;br /&gt;Nama diawali huruf besar di awal dan setelah spasi, contoh benar: Abc Def, contoh salah: abc def, ABC DEF." name="name_grad" type="text" /><div class="hint">Nama sesuai yang tertulis di ijazah, tanpa gelar akademis/sertifikasi.<br />Nama diawali huruf besar di awal dan setelah spasi, contoh benar: Abc Def, contoh salah: abc def, ABC DEF.</div></div></li>
			<li><label class="element">Jenis identitas<span class="required"> *</span>&nbsp;</label><div class="element"><select title="Pilih jenis identitas Anda. Identitas harus dibawa ketika ujian/daftar ulang." name="identity_id">
	<option value="">--- Pilih ---</option>
	<option value="1">KTP</option>
	<option value="2">SIM</option>
	<option value="3">Paspor</option>
	<option value="4">Kartu Pelajar (Berfoto)</option>
</select><div class="hint">Pilih jenis identitas Anda. Identitas harus dibawa ketika ujian/daftar ulang.</div></div></li>
			<li><label for="qfe_identity_no" class="element">Nomor identitas<span class="required"> *</span>&nbsp;</label><div class="element"><input style="width:20em" name="identity_no" type="text" /></div></li>
			<li><label class="element">Kewarganegaraan<span class="required"> *</span>&nbsp;</label><div class="element"><select name="country_id">
	<option value="ID" selected="selected">Indonesia</option>
</select></div></li>
			<li><label class="element">Jenis kelamin<span class="required"> *</span>&nbsp;</label><div class="element">
<input name="gender" value="L" type="radio" id="qf_ee4301" /><label for="qf_ee4301">Pria</label><br />
<input name="gender" value="P" type="radio" id="qf_5bcbf7" /><label for="qf_5bcbf7">Wanita</label>
</div></li>
			<li><label for="qfe_birth_date" class="element">Tanggal lahir<span class="required"> *</span>&nbsp;</label><div class="element"><select name="birth_date[d]">
	<option value="1">01</option>
	<option value="2">02</option>
	<option value="3">03</option>
	<option value="4">04</option>
	<option value="5">05</option>
	<option value="6">06</option>
	<option value="7">07</option>
	<option value="8">08</option>
	<option value="9">09</option>
	<option value="10">10</option>
	<option value="11">11</option>
	<option value="12">12</option>
	<option value="13">13</option>
	<option value="14">14</option>
	<option value="15">15</option>
	<option value="16">16</option>
	<option value="17">17</option>
	<option value="18">18</option>
	<option value="19">19</option>
	<option value="20">20</option>
	<option value="21">21</option>
	<option value="22">22</option>
	<option value="23">23</option>
	<option value="24">24</option>
	<option value="25">25</option>
	<option value="26">26</option>
	<option value="27">27</option>
	<option value="28">28</option>
	<option value="29">29</option>
	<option value="30">30</option>
	<option value="31">31</option>
</select><select name="birth_date[M]">
	<option value="1">Jan</option>
	<option value="2">Feb</option>
	<option value="3">Mar</option>
	<option value="4">Apr</option>
	<option value="5">May</option>
	<option value="6">Jun</option>
	<option value="7">Jul</option>
	<option value="8">Aug</option>
	<option value="9">Sep</option>
	<option value="10">Oct</option>
	<option value="11">Nov</option>
	<option value="12">Dec</option>
</select><select name="birth_date[Y]">
	<option value="1920">1920</option>
	<option value="1921">1921</option>
	<option value="1922">1922</option>
	<option value="1923">1923</option>
	<option value="1924">1924</option>
	<option value="1925">1925</option>
	<option value="1926">1926</option>
	<option value="1927">1927</option>
	<option value="1928">1928</option>
	<option value="1929">1929</option>
	<option value="1930">1930</option>
	<option value="1931">1931</option>
	<option value="1932">1932</option>
	<option value="1933">1933</option>
	<option value="1934">1934</option>
	<option value="1935">1935</option>
	<option value="1936">1936</option>
	<option value="1937">1937</option>
	<option value="1938">1938</option>
	<option value="1939">1939</option>
	<option value="1940">1940</option>
	<option value="1941">1941</option>
	<option value="1942">1942</option>
	<option value="1943">1943</option>
	<option value="1944">1944</option>
	<option value="1945">1945</option>
	<option value="1946">1946</option>
	<option value="1947">1947</option>
	<option value="1948">1948</option>
	<option value="1949">1949</option>
	<option value="1950">1950</option>
	<option value="1951">1951</option>
	<option value="1952">1952</option>
	<option value="1953">1953</option>
	<option value="1954">1954</option>
	<option value="1955">1955</option>
	<option value="1956">1956</option>
	<option value="1957">1957</option>
	<option value="1958">1958</option>
	<option value="1959">1959</option>
	<option value="1960">1960</option>
	<option value="1961">1961</option>
	<option value="1962">1962</option>
	<option value="1963">1963</option>
	<option value="1964">1964</option>
	<option value="1965">1965</option>
	<option value="1966">1966</option>
	<option value="1967">1967</option>
	<option value="1968">1968</option>
	<option value="1969">1969</option>
	<option value="1970">1970</option>
	<option value="1971">1971</option>
	<option value="1972">1972</option>
	<option value="1973">1973</option>
	<option value="1974">1974</option>
	<option value="1975">1975</option>
	<option value="1976">1976</option>
	<option value="1977">1977</option>
	<option value="1978">1978</option>
	<option value="1979">1979</option>
	<option value="1980">1980</option>
	<option value="1981">1981</option>
	<option value="1982">1982</option>
	<option value="1983">1983</option>
	<option value="1984">1984</option>
	<option value="1985">1985</option>
	<option value="1986">1986</option>
	<option value="1987">1987</option>
	<option value="1988">1988</option>
	<option value="1989">1989</option>
	<option value="1990">1990</option>
	<option value="1991">1991</option>
	<option value="1992">1992</option>
	<option value="1993">1993</option>
	<option value="1994">1994</option>
	<option value="1995">1995</option>
	<option value="1996">1996</option>
	<option value="1997">1997</option>
	<option value="1998">1998</option>
	<option value="1999">1999</option>
	<option value="2000">2000</option>
	<option value="2001">2001</option>
	<option value="2002">2002</option>
	<option value="2003">2003</option>
	<option value="2004">2004</option>
	<option value="2005">2005</option>
	<option value="2006">2006</option>
	<option value="2007">2007</option>
	<option value="2008">2008</option>
	<option value="2009">2009</option>
</select></div></li>
		</ol>
	</fieldset>
	<fieldset id="h3">
		<legend>Kontak</legend>
		<ol>
			<li><label for="qfe_home_addr" class="element">Alamat tetap<span class="required"> *</span>&nbsp;</label><div class="element"><input size="70" name="home_addr" type="text" /></div></li>
			<li><label class="element">Negara<span class="required"> *</span>&nbsp;</label><div class="element"><select onchange="selectLoad(this, &quot;province&quot;, &quot;https://penerimaan.ui.ac.id/ajax/province&quot;)" name="home_country">
	<option value="">--- Pilih ---</option>
	<option value="AF">Afghanistan</option>
	<option value="AL">Albania</option>
	<option value="DZ">Algeria</option>
	<option value="AS">American Samoa</option>
	<option value="AD">Andorra</option>
	<option value="AO">Angola</option>
	<option value="AI">Anguilla</option>
	<option value="AQ">Antarctica</option>
	<option value="AG">Antigua and Barbuda</option>
	<option value="AR">Argentina</option>
	<option value="AM">Armenia</option>
	<option value="AW">Aruba</option>
	<option value="AU">Australia</option>
	<option value="AT">Austria</option>
	<option value="AZ">Azerbaijan</option>
	<option value="BS">Bahamas</option>
	<option value="BH">Bahrain</option>
	<option value="BD">Bangladesh</option>
	<option value="BB">Barbados</option>
	<option value="BY">Belarus</option>
	<option value="BE">Belgium</option>
	<option value="BZ">Belize</option>
	<option value="BJ">Benin</option>
	<option value="BM">Bermuda</option>
	<option value="BT">Bhutan</option>
	<option value="BO">Bolivia</option>
	<option value="BA">Bosnia and Herzegovina</option>
	<option value="BW">Botswana</option>
	<option value="BV">Bouvet Island</option>
	<option value="BR">Brazil</option>
	<option value="IO">British Indian Ocean Territory</option>
	<option value="BN">Brunei Darussalam</option>
	<option value="BG">Bulgaria</option>
	<option value="BF">Burkina Faso</option>
	<option value="BI">Burundi</option>
	<option value="KH">Cambodia</option>
	<option value="CM">Cameroon</option>
	<option value="CA">Canada</option>
	<option value="CV">Cape Verde</option>
	<option value="KY">Cayman Islands</option>
	<option value="CF">Central African Republic</option>
	<option value="TD">Chad</option>
	<option value="CL">Chile</option>
	<option value="CN">China</option>
	<option value="CX">Christmas Island</option>
	<option value="CC">Cocos (Keeling) Islands</option>
	<option value="CO">Colombia</option>
	<option value="KM">Comoros</option>
	<option value="CG">Congo</option>
	<option value="CD">Congo, the Democratic Republic of the</option>
	<option value="CK">Cook Islands</option>
	<option value="CR">Costa Rica</option>
	<option value="CI">Cote D'Ivoire</option>
	<option value="HR">Croatia</option>
	<option value="CU">Cuba</option>
	<option value="CY">Cyprus</option>
	<option value="CZ">Czech Republic</option>
	<option value="DK">Denmark</option>
	<option value="DJ">Djibouti</option>
	<option value="DM">Dominica</option>
	<option value="DO">Dominican Republic</option>
	<option value="EC">Ecuador</option>
	<option value="EG">Egypt</option>
	<option value="SV">El Salvador</option>
	<option value="GQ">Equatorial Guinea</option>
	<option value="ER">Eritrea</option>
	<option value="EE">Estonia</option>
	<option value="ET">Ethiopia</option>
	<option value="FK">Falkland Islands (Malvinas)</option>
	<option value="FO">Faroe Islands</option>
	<option value="FJ">Fiji</option>
	<option value="FI">Finland</option>
	<option value="FR">France</option>
	<option value="GF">French Guiana</option>
	<option value="PF">French Polynesia</option>
	<option value="TF">French Southern Territories</option>
	<option value="GA">Gabon</option>
	<option value="GM">Gambia</option>
	<option value="GE">Georgia</option>
	<option value="DE">Germany</option>
	<option value="GH">Ghana</option>
	<option value="GI">Gibraltar</option>
	<option value="GR">Greece</option>
	<option value="GL">Greenland</option>
	<option value="GD">Grenada</option>
	<option value="GP">Guadeloupe</option>
	<option value="GU">Guam</option>
	<option value="GT">Guatemala</option>
	<option value="GN">Guinea</option>
	<option value="GW">Guinea-Bissau</option>
	<option value="GY">Guyana</option>
	<option value="HT">Haiti</option>
	<option value="HM">Heard Island and Mcdonald Islands</option>
	<option value="VA">Holy See (Vatican City State)</option>
	<option value="HN">Honduras</option>
	<option value="HK">Hong Kong</option>
	<option value="HU">Hungary</option>
	<option value="IS">Iceland</option>
	<option value="IN">India</option>
	<option value="ID" selected="selected">Indonesia</option>
	<option value="IR">Iran, Islamic Republic of</option>
	<option value="IQ">Iraq</option>
	<option value="IE">Ireland</option>
	<option value="IL">Israel</option>
	<option value="IT">Italy</option>
	<option value="JM">Jamaica</option>
	<option value="JP">Japan</option>
	<option value="JO">Jordan</option>
	<option value="KZ">Kazakhstan</option>
	<option value="KE">Kenya</option>
	<option value="KI">Kiribati</option>
	<option value="KP">Korea, Democratic People's Republic of</option>
	<option value="KR">Korea, Republic of</option>
	<option value="KW">Kuwait</option>
	<option value="KG">Kyrgyzstan</option>
	<option value="LA">Lao People's Democratic Republic</option>
	<option value="LV">Latvia</option>
	<option value="LB">Lebanon</option>
	<option value="LS">Lesotho</option>
	<option value="LR">Liberia</option>
	<option value="LY">Libyan Arab Jamahiriya</option>
	<option value="LI">Liechtenstein</option>
	<option value="LT">Lithuania</option>
	<option value="LU">Luxembourg</option>
	<option value="MO">Macao</option>
	<option value="MK">Macedonia, the Former Yugoslav Republic of</option>
	<option value="MG">Madagascar</option>
	<option value="MW">Malawi</option>
	<option value="MY">Malaysia</option>
	<option value="MV">Maldives</option>
	<option value="ML">Mali</option>
	<option value="MT">Malta</option>
	<option value="MH">Marshall Islands</option>
	<option value="MQ">Martinique</option>
	<option value="MR">Mauritania</option>
	<option value="MU">Mauritius</option>
	<option value="YT">Mayotte</option>
	<option value="MX">Mexico</option>
	<option value="FM">Micronesia, Federated States of</option>
	<option value="MD">Moldova, Republic of</option>
	<option value="MC">Monaco</option>
	<option value="MN">Mongolia</option>
	<option value="MS">Montserrat</option>
	<option value="MA">Morocco</option>
	<option value="MZ">Mozambique</option>
	<option value="MM">Myanmar</option>
	<option value="NA">Namibia</option>
	<option value="NR">Nauru</option>
	<option value="NP">Nepal</option>
	<option value="NL">Netherlands</option>
	<option value="AN">Netherlands Antilles</option>
	<option value="NC">New Caledonia</option>
	<option value="NZ">New Zealand</option>
	<option value="NI">Nicaragua</option>
	<option value="NE">Niger</option>
	<option value="NG">Nigeria</option>
	<option value="NU">Niue</option>
	<option value="NF">Norfolk Island</option>
	<option value="MP">Northern Mariana Islands</option>
	<option value="NO">Norway</option>
	<option value="OM">Oman</option>
	<option value="PK">Pakistan</option>
	<option value="PW">Palau</option>
	<option value="PS">Palestinian Territory, Occupied</option>
	<option value="PA">Panama</option>
	<option value="PG">Papua New Guinea</option>
	<option value="PY">Paraguay</option>
	<option value="PE">Peru</option>
	<option value="PH">Philippines</option>
	<option value="PN">Pitcairn</option>
	<option value="PL">Poland</option>
	<option value="PT">Portugal</option>
	<option value="PR">Puerto Rico</option>
	<option value="QA">Qatar</option>
	<option value="RE">Reunion</option>
	<option value="RO">Romania</option>
	<option value="RU">Russian Federation</option>
	<option value="RW">Rwanda</option>
	<option value="SH">Saint Helena</option>
	<option value="KN">Saint Kitts and Nevis</option>
	<option value="LC">Saint Lucia</option>
	<option value="PM">Saint Pierre and Miquelon</option>
	<option value="VC">Saint Vincent and the Grenadines</option>
	<option value="WS">Samoa</option>
	<option value="SM">San Marino</option>
	<option value="ST">Sao Tome and Principe</option>
	<option value="SA">Saudi Arabia</option>
	<option value="SN">Senegal</option>
	<option value="CS">Serbia and Montenegro</option>
	<option value="SC">Seychelles</option>
	<option value="SL">Sierra Leone</option>
	<option value="SG">Singapore</option>
	<option value="SK">Slovakia</option>
	<option value="SI">Slovenia</option>
	<option value="SB">Solomon Islands</option>
	<option value="SO">Somalia</option>
	<option value="ZA">South Africa</option>
	<option value="GS">South Georgia and the South Sandwich Islands</option>
	<option value="ES">Spain</option>
	<option value="LK">Sri Lanka</option>
	<option value="SD">Sudan</option>
	<option value="SR">Suriname</option>
	<option value="SJ">Svalbard and Jan Mayen</option>
	<option value="SZ">Swaziland</option>
	<option value="SE">Sweden</option>
	<option value="CH">Switzerland</option>
	<option value="SY">Syrian Arab Republic</option>
	<option value="TW">Taiwan, Province of China</option>
	<option value="TJ">Tajikistan</option>
	<option value="TZ">Tanzania, United Republic of</option>
	<option value="TH">Thailand</option>
	<option value="TL">Timor-Leste</option>
	<option value="TG">Togo</option>
	<option value="TK">Tokelau</option>
	<option value="TO">Tonga</option>
	<option value="TT">Trinidad and Tobago</option>
	<option value="TN">Tunisia</option>
	<option value="TR">Turkey</option>
	<option value="TM">Turkmenistan</option>
	<option value="TC">Turks and Caicos Islands</option>
	<option value="TV">Tuvalu</option>
	<option value="UG">Uganda</option>
	<option value="UA">Ukraine</option>
	<option value="AE">United Arab Emirates</option>
	<option value="GB">United Kingdom</option>
	<option value="US">United States</option>
	<option value="UM">United States Minor Outlying Islands</option>
	<option value="UY">Uruguay</option>
	<option value="UZ">Uzbekistan</option>
	<option value="VU">Vanuatu</option>
	<option value="VE">Venezuela</option>
	<option value="VN">Viet Nam</option>
	<option value="VG">Virgin Islands, British</option>
	<option value="VI">Virgin Islands, U.s.</option>
	<option value="WF">Wallis and Futuna</option>
	<option value="EH">Western Sahara</option>
	<option value="YE">Yemen</option>
	<option value="ZM">Zambia</option>
	<option value="ZW">Zimbabwe</option>
</select></div></li>
			<li><label class="element">Propinsi<span class="required"> *</span>&nbsp;</label><div class="element"><select id="province" onchange="selectLoad(this, &quot;district&quot;, &quot;https://penerimaan.ui.ac.id/ajax/district&quot;)" name="home_province">
	<option value="">--- Pilih ---</option>
	<option value="3">Aceh</option>
	<option value="17">Bali</option>
	<option value="16">Banten</option>
	<option value="9">Bengkulu</option>
	<option value="14">DI Yogyakarta</option>
	<option value="1">DKI Jakarta</option>
	<option value="26">Gorontalo</option>
	<option value="32">Irian Jaya Barat</option>
	<option value="10">Jambi</option>
	<option value="2">Jawa Barat</option>
	<option value="13">Jawa Tengah</option>
	<option value="15">Jawa Timur</option>
	<option value="18">Kalimantan Barat</option>
	<option value="19">Kalimantan Selatan</option>
	<option value="20">Kalimantan Tengah</option>
	<option value="21">Kalimantan Timur</option>
	<option value="281">Kalimantan Utara</option>
	<option value="12">Kepulauan Bangka Belitung</option>
	<option value="7">Kepulauan Riau</option>
	<option value="11">Lampung</option>
	<option value="29">Maluku</option>
	<option value="30">Maluku Utara</option>
	<option value="27">Nusa Tenggara Barat</option>
	<option value="28">Nusa Tenggara Timur</option>
	<option value="31">Papua</option>
	<option value="275">Papua Barat</option>
	<option value="6">Riau</option>
	<option value="33">Sulawesi Barat</option>
	<option value="25">Sulawesi Selatan</option>
	<option value="23">Sulawesi Tengah</option>
	<option value="24">Sulawesi Tenggara</option>
	<option value="22">Sulawesi Utara</option>
	<option value="5">Sumatera Barat</option>
	<option value="8">Sumatera Selatan</option>
	<option value="4">Sumatera Utara</option>
</select></div></li>
			<li><label class="element">Kabupaten/Kotamadya<span class="required"> *</span>&nbsp;</label><div class="element"><select id="district" name="home_district">
</select></div></li>
			<li><label for="qfe_current_addr" class="element">Alamat saat ini<span class="required"> *</span>&nbsp;</label><div class="element"><input size="70" name="current_addr" type="text" /></div></li>
			<li><label for="qfe_telp1" class="element">No. telepon<span class="required"> *</span>&nbsp;</label><div class="element"><input size="15" title="Nomor telepon yang dapat dihubungi. Pisahkan dengan , (koma) jika ada beberapa nomor." name="telp1" type="text" /><div class="hint">Nomor telepon yang dapat dihubungi. Pisahkan dengan , (koma) jika ada beberapa nomor.</div></div></li>
			<li><label for="qfe_hp" class="element">No. H.P.</label><div class="element"><input size="30" title="Nomor &lt;em&gt;handphone&lt;/em&gt;. Pisahkan dengan , (koma) jika ada beberapa nomor." name="hp" type="text" /><div class="hint">Nomor <em>handphone</em>. Pisahkan dengan , (koma) jika ada beberapa nomor.</div></div></li>
			<li><label for="qfe_email" class="element">Email<span class="required"> *</span>&nbsp;</label><div class="element"><input size="25" title="Pastikan alamat email Anda benar, email konfirmasi akan dikirim ke alamat email tersebut" name="email" type="text" /><div class="hint">Pastikan alamat email Anda benar, email konfirmasi akan dikirim ke alamat email tersebut</div></div></li>
			<li><label for="qfe_email_check" class="element">Ulangi email<span class="required"> *</span>&nbsp;</label><div class="element"><input name="email_check" type="text" /></div></li>
			<li><label for="qfe_s" class="element">&nbsp;</label><div class="element"><input name="s" value="Simpan" type="submit" /></div></li>
			<li class="reqnote"><label class="element">&nbsp;</label><span class="required">*</span> Wajib diisi</li>
		</ol>
	</fieldset>
</form></div>

									</div>
			</div>
		</div>
	</div>

	<div id="footer">
		<div class="container">
			<div class="links">
				<a href="https://penerimaan.ui.ac.id/sitemap">Sitemap</a>
				&spades;
				<a href="https://penerimaan.ui.ac.id/page/credits">Credits</a>
				&spades;
				<a href="http://www.facebook.com/pages/SIMAK-UI/173127123267">Facebook</a>
				&spades;
				<a href="http://twitter.com/#!/simak_ui">Twitter</a>
				&spades;
				<a href="http://www.ui.ac.id/">Universitas Indonesia</a>
			</div>
			<div class="copyr">Universitas Indonesia</div>
		</div>
	</div>

</div>


<script src="/themes/user4/js/site.js?20180502"></script>
<script src="/js/tingle/tingle.min.js"></script>
<script>embed_csrf('551eacad743fe94890035414e516dc80334b29d0fb3b5e5fccf155a91158a47f');</script>


<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript">
try{
var pageTracker = _gat._getTracker("UA-2409629-4");
pageTracker._trackPageview();

 

} catch(err) {}
</script>


 

</body>
</html>
